
# Essential GIS Libraries
geopandas==0.14.3
fiona==1.10.1
pyproj==3.7.0
shapely==2.0.6
pyogrio==0.10.0

# Data Science Libraries
# matplotlib==3.8.4
pandas==2.2.2
scipy==1.14.1

# General Python Libraries
requests==2.32.3
urllib3==2.2.3
psycopg2-binary==2.9.10
python-dotenv==1.0.1
python-json-logger==2.0.7
pytz==2024.2
six==1.17.0
traitlets==5.14.3
tzdata==2024.2

# Optional: Plotting and Web Scraping Libraries (only if needed)
beautifulsoup4==4.12.3
Jinja2==3.1.4

#override version for widget to work
# ipywidgets==8.1.5
# jupyter-console==6.6.3
# jupyter-events==0.10.0
# jupyter-leaflet==0.19.2
# jupyter-lsp==2.2.5
# jupyter_client==8.6.3
# jupyter_core==5.7.2
# jupyter_server==2.14.2
# jupyter_server_terminals==0.5.3
# jupyterlab==4.3.2
# jupyterlab_pygments==0.3.0
# jupyterlab_server==2.27.3
# jupyterlab_widgets==3.0.13
